$roboto: "Roboto", sans-serif;

.AddButton {
  font-family: $roboto;
  width: 100px;
  height: 30px;
  margin-left: 25px;
  background: #ffe1a4;
  border-radius: 27px;
  border: none;
  cursor: pointer;
}
