$poppins: "Poppins", sans-serif;
$breakpoint-tablet: 768px;

.audiobook {
  background-color: #fff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 27px;
  width: 60%;
  margin-top: 15px;
  padding: 15px;

  .cover {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 27px;
  }
  .audiobook_container,
  .audiobook_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
  }

  .audiobook_info {
    align-items: flex-end;
    width: 50%;
    h1 {
      font-size: 20px;
    }
  }

  span {
    font-weight: 500;
  }
  h2 {
    font-size: 18px;
  }

  .cancel-button {
    background: #ec4f58;
    color: #fff;
  }
  .create-button {
    background-color: #6fe2e6;
    color: #fff;
  }

  .create-button,
  .cancel-button {
    text-align: center;
    margin-left: 15px;
    height: 40px;
    width: 90px;
    font-family: $poppins;
    // font-weight: 600;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 27px;
    border: none;
    outline: none;
  }

  .left_info,
  .right_info {
    text-align: left;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .audiobook_container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .audiobook_info {
    flex-wrap: wrap;
    width: 100% !important;
  }
  .AudioBookTitle {
    font-size: 25px;
    width: 100%;
  }
  .audiobook {
    width: 75%;
    padding: 10px;
  }
}
